.App {
  /* background: var(--Gradient---Green-Blue, linear-gradient(180deg, #55E1A0 0%, #52B6F8 100%)); */
  height: 100vh;
  width: 100%;
}

* {
	margin: 0;
	box-sizing: border-box;
	font-family: "LitteraText", sans-serif;
}

main {
   /* This specification helps position information buttons */
  padding-bottom: 185px;
  /* Enable vertical scrolling if content overflows, to ensure Log Out is always accessible */
  overflow-y: auto;
}

.logo-image {
  max-width: 90px;
  height: auto;
}


.slogan-text {
  color: black;
  margin-top: 2px; /* Adjust spacing as needed */
  font-size: 16px; /* Adjust font size as needed */
}